<form data-url="{{ urlfor `UserController.Modify` }}" data-target="datatable">
    <input type="hidden" name="id" value="{{ .user.Id }}" />
    <div class="form-group row">
        <label for="modify.name" class="col-sm-2 col-form-label">用户名<span class="text-danger"> * </span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="modify.name" name="name" placeholder="用户名" value="{{ .user.Name }}"/>
            <small class="form-text text-muted">
                只能由长度位5-32位的英文字母、数字、下划线和中划线组成, 且必须唯一
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">性别</label>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="modify.male" name="gender" value="0" {{ if eq 0 .user.Gender }}checked="checked"{{ end }}/>
                <label class="form-check-label" for="modify.male">男</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="modify.female" name="gender" value="1" {{ if eq 1 .user.Gender }}checked="checked"{{ end }}/>
                <label class="form-check-label" for="modify.female">女</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="modify.birthday" class="col-sm-2 col-form-label">出生日期</label>
        <div class="col-sm-10" style="position: relative; ">
            <input type="text" class="form-control" datepicker="datepicker" id="modify.birthday" name="birthday" placeholder="出生日期" value="{{ if .user.Birthday }}{{ date .user.Birthday `Y-m-d` }}{{ end }}"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="modify.department" class="col-sm-2 col-form-label">部门</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="modify.department" name="department" placeholder="部门" value="{{ .user.Department }}" />
            <small class="form-text text-muted">
                必须为0-64位长度的字符串
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label for="modify.tel" class="col-sm-2 col-form-label">电话<span class="text-danger"> * </span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="modify.tel" name="tel" placeholder="电话" value="{{ .user.Tel }}" />
        </div>
    </div>
    <div class="form-group row">
        <label for="modify.email" class="col-sm-2 col-form-label">邮箱<span class="text-danger"> * </span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="modify.email" name="email" placeholder="邮箱" value="{{ .user.Email }}"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="modify.addr" class="col-sm-2 col-form-label">住址</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="modify.addr" name="addr" placeholder="住址" value="{{ .user.Addr }}"/>
            <small class="form-text text-muted">
                必须为0-512位长度的字符串
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label for="modify.remark" class="col-sm-2 col-form-label">备注</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="modify.remark" name="remark" rows="3" placeholder="备注">{{ .user.Remark }}</textarea>
            <small class="form-text text-muted">
                必须为0-512位长度的字符串
            </small>
        </div>
    </div>
</form>